<article class="dashboard-main-container">
  <app-dashboard-header></app-dashboard-header>
  <app-dashboard-navigation></app-dashboard-navigation>
  <app-dashboard-body></app-dashboard-body>
</article>
