<article class="primeng-list-container">
  <span class="primeng-list-item"
        routerLinkActive="primeng-list-item-active"
        [routerLink]="student.id"
        *ngFor="let student of students">{{student.name}}</span>
</article>
<router-outlet></router-outlet>