<article class="custom-first-container">
  <span class="custom-first-item"
        routerLinkActive="custom-first-item-active"
        [routerLink]="product.id"
        *ngFor="let product of products">{{product.name}}</span>
</article>
<!--TODO: review active color with click-->
<!-- Al parecer si no tiene el routerLink, la clase tampoco es agregada porque no se especifica que elemento es el que se debe pintar,-->
<!--así que en este caso lo mejor sería utilizar directamente el routerlink y quitar la navegación por medio del click-->

<router-outlet></router-outlet>
<!--(click)="navigate(product.id)"-->
<!--[routerLink]="product.id"-->
